* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.container-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
}

/* Estilos para a landing page */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

.titulo-loja {
    font-size: 3rem;
    text-transform: lowercase;
    color: #0c0c0c;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Coloca a primeira letra em maiúscula e diferente */
.titulo-loja::first-letter {
    font-size: 4rem;
    color: #0737d4;
    text-transform: uppercase;
}

.imagem-principal {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.btn-entrar {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #0a0a0a;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-entrar:hover {
    background-color: #0407b3;
}

/* Seção de newsletter */
.email-newsletter {
    text-align: center;
    margin: 40px 0;
}

.email-newsletter h2 {
    font-size: 2rem;
    color: #0f0f0f;
}

.email-newsletter input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
    margin-right: 10px;
}

.btn-newsletter {
    padding: 10px 20px;
    background-color: #080808;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-newsletter:hover {
    background-color: #0407b3;
}

.email-error {
    color: red;
    margin-top: 10px;
}

/* Seção de promoções */
.promocoes {
    text-align: center;
    margin: 40px 0;
}

.promocoes h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #030303;
}

.promo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.promo {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.promo:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.promo h3 {
    margin: 15px 0 10px;
    font-size: 1.5rem;
    color: #333;
}

.promo p {
    font-size: 1.2rem;
    color:  #0407b3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.logo img {
    height: 150px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

nav a:hover {
    color: #0a0a0a;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.login-area a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}
 .login-area img {
    height: 25px;
    border-radius: 20px;
 }

.cart-area {
    position: relative;
    text-decoration: none;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.produto {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
}

.produto h2 {
    margin-bottom: 10px;
}

.produto p {
    margin-bottom: 10px;
}

.produto button {
    background-color: #101011;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.produto button:hover {
    background-color: #080808;
}

/* Container do produto */
 /* Estilos do modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.5);
    justify-content: center;
    align-items: center; 
}

.modal-content {
    background-color: #fff;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('https://static.vecteezy.com/ti/fotos-gratis/t2/7327095-fundo-e-texturizado-de-parede-cimento-cinza-cor-gratis-foto.jpg'); /* Adicione a textura aqui */
    background-size: cover;
}

.modal img {
    max-width: 100%;
    border-radius: 10px;
}

.modal button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #030303;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #0c0c0c;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.funcionario {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.funcionario img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.funcionario h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.funcionario p {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .funcionario {
        width: 100%;
    }
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0a0a0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d0e0d;
}

.error {
    color: red;
    font-size: 12px;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #888585;
}

.banner video {
    max-width: 100%;
    height: 300px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

footer img {
    width: 500px;
}
